In [1]:
import pandas as pd

In [17]:
df = pd.read_csv("users.6M0xxK.2024.public.csv")

In [18]:
df.head()

,identifierHash,type,countryCode,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,...,productsWished,productsBought,gender,civilityGenderId,civilityTitle,hasProfilePicture,seniority,seniorityAsMonths,seniorityAsYears,websiteLongevity
0,1920991140,user,us,Etats-Unis,en,3,8,0,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803
1,1920860068,user,se,Suède,en,3,8,1,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803
2,1920401316,user,it,Italie,fr,3,8,0,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803
3,1919811492,user,dk,Danemark,en,75,10,1968,0,0,...,43,15,M,1,mr,True,3206,106.87,8.91,3803
4,1919025060,user,de,Allemagne,de,3,8,0,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803

In [19]:
df.count

<bound method DataFrame.count of        identifierHash  type countryCode     country language  \
0          1920991140  user          us  Etats-Unis       en
1          1920860068  user          se       Suède       en
2          1920401316  user          it      Italie       fr
3          1919811492  user          dk    Danemark       en
4          1919025060  user          de   Allemagne       de
...               ...   ...         ...         ...      ...
20738      3960012706  user          gr       Grèce       en
20739      3959750562  user          fr      France       fr
20740      3959488418  user          es     Espagne       es
20741      3958964130  user          at    Autriche       de
20742      3958701986  user          us  Etats-Unis       fr

       socialNbFollowers  socialNbFollows  socialProductsLiked  \
0                      3                8                    0
1                      3                8                    1
2                      3                8                    0
3                     75               10                 1968
4                      3                8                    0
...                  ...              ...                  ...
20738                  4               10                   54
20739                  3                8                   11
20740                  3                8                    0
20741                  3                8                   70
20742                  3                8                   10

       productsListed  productsSold  ...  productsWished  productsBought  \
0                   0             0  ...               0               0
1                   0             0  ...               0               0
2                   0             0  ...               0               0
3                   0             0  ...              43              15
4                   0             0  ...               0               0
...               ...           ...  ...             ...             ...
20738               0             0  ...              16               0
20739               0             0  ...               0               0
20740               0             0  ...               0               0
20741               0             0  ...               0               0
20742               0             0  ...               0               1

       gender civilityGenderId  civilityTitle hasProfilePicture  seniority  \
0           M                1             mr              True       3206
1           M                1             mr              True       3206
2           M                1             mr              True       3206
3           M                1             mr              True       3206
4           M                1             mr              True       3206
...       ...              ...            ...               ...        ...
20738       M                1             mr              True       2853
20739       M                1             mr              True       2853
20740       M                1             mr              True       2853
20741       M                1             mr              True       2853
20742       M                1             mr              True       2853

       seniorityAsMonths  seniorityAsYears  websiteLongevity
0                 106.87              8.91              3803
1                 106.87              8.91              3803
2                 106.87              8.91              3803
3                 106.87              8.91              3803
4                 106.87              8.91              3803
...                  ...               ...               ...
20738              95.10              7.92              3803
20739              95.10              7.92              3803
20740              95.10              7.92              3803
20741              95.10              7.92              3803
20742              95.10              7.92              3803

[20743 rows x 21 columns]>

### Chunk data

In [20]:
#calculate the size of each chunk

chunk_size = len(df) // 5 + (1 if len(df) % 5 else 0)

#split the df into chunks and save them

for i in range(5):
    start = i * chunk_size
    end = start + chunk_size
    chunk_df = df.iloc[start:end]
    chunk_df.to_csv(f'chunk-data/chunk{i+5+1}.csv', index=False)